
  <% include head %>

  <body class="main">
  	<div class="container-fluid">
          <h1> Welcome to <%= title %></h1>


    	<div class="row">
    		<h1 class="text-right">I Am Woman. I Can't Code</h1>
    	</div>
    	<div class="row">
    		<a class="btn btn-default btn-default btn-lg" href="paths.ejs" role="button">Wait, what?!</a>
    	</div>
    </div>

      <% include footer %>
    </body>
</html>
