
  <% include head %>

  <body class="main">
  	<div class="container-fluid">
    	<div class="row">
        <div class="col-xs-6">
        </div>
        <div class="col-xs-6">
    		<h1 class="text-center">Girls can't code.</h1>
        </div>
    	</div>
    	<div class="row">
        <div class="col-xs-8">
        </div>
        <div class="col-xs-4">
    		<a class="btn btn-default btn-warning btn-lg" href="/paths" role="button">Wait, what?!</a>
        </div>
    	</div>
    <div id="login-form">
            <form class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="exampleInputEmail3">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
      </div>
      <div class="form-group">
        <label class="sr-only" for="exampleInputPassword3">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
      <button type="submit" class="btn btn-default">Sign in</button>
      </form>
</div>
    </div>
     <% include footer %>
  </body>
</html>
