<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="main">
  	<div class="container-fluid">
    	<div class="row">
    		<h1 class="text-right">I Am Woman. I Can't Code</h1>
    	</div>
    	<div class="row">
    		<button class="btn btn-default" type="button">Wait, what?!</button>
    	</div>
    </div>
  </body>
</html>