
<% include head %>

  <body>
    <div class="row paths">
      <div class="col-xs-6 myth-statement">
    		<p class="intro-text">There are a lot of myths and misconceptions surrounding women and girls working in STEM fields(science, technology, engineering and mathematics).</p><p class="intro-text">STEMyths is here to separate fact from fiction and encourage all girls to keep learning and creating awesome things.</p>

      </div>
    </div>
    <div class="row">
      <h2 class="col-xs-12 text-center career-header">Click a career path below to dispel more myths</h2>
    </div>
    <div class="row">
      <div class="col-xs-3 career-image engineer">
        <a class="path-link" href=""><p>Engineer</p></a>
      </div>
      <div class="col-xs-3 career-image math">
        <a class="path-link" href=""><p>Mathematician</p></a>
      </div>
      <div class="col-xs-3 career-image science">
        <a class="path-link" href=""><p>Scientist</p></a>
      </div>
      <div class="col-xs-3 career-image software">
        <a class="path-link" href="myth1"><p>Software Developer</p></a>
      </div>
    </div>
    <% include footer %>
  </body>
</html>
