<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div class="container-fluid">
    	<div class="row">
    		<p class="col-xs-6">There are a lot of false myths we hear all the time about women and girls working in STEM fields. These myths are absurd and end up discouraging too many girls from pursuing education and careers in the STEM world. STEMyths is here to confront these myths and encourage ALL girls to keep learning and creating awesome things.
    	</div>
    	<div class="row">
    	 <h4 class="col-xs-12">Click a career path below to dispel more myths</h4>
    	</div>
      <div class="row">
        <h4 class"col-xs-3 engineer">Engineer</h4>
        <h4 class"col-xs-3 math">Mathematician</h4>
        <h4 class"col-xs-3 science">Scientist</h4>
        <h4 class"col-xs-3 software">Software Developer</h4>
      </div>
    </div>
  </body>
</html>